.authentication {
  display: none;
  margin: 25% auto;
  width: 5%;
}

.sign-in {
  display: none;
  margin: 25% auto;
width: 5%;
}

#sign-in {
  margin-top:  -125px;
}

#sign-up {
  margin-top: -165px;
}

input {
  margin-top: 25%;
  padding: 4px 50px;
}

.btn-one {
  background: red;
  color: white;
  text-align: center;
  border: 1px solid red;
  padding: 1px 10px;
  font-family: "Courier New", "Courier", "Monaco";
}

.btn-two {
  background: red;
  color: white;
  text-align: center;
  border: 1px solid red;
  padding: 1px 10px;
  font-family: "Courier New", "Courier", "Monaco";
}

.btn-three {
  background: red;
  color: white;
  text-align: center;
  border: 1px solid red;
  padding: 1px 10px;
  font-family: "Courier New", "Courier", "Monaco";
}


#logo-up {
  margin-top: -224px;
}

#logo-in {
  margin-top: -184px;
}

.signout {
  display: none;
  margin-top: 15%;
}

.logo-out {
  margin-top: -224px;
}

#logo-signout{
  margin-top: -54px;
}

.out {
  width: 15%;
    text-align: left;
    font-family: "Courier New", "Courier", "Monaco";
    position: fixed;
    margin-left: -16%;
    margin-top: 0%;
}

.logout {
  width: 45%;
    text-align: left;
    font-family: "Courier New", "Courier", "Monaco";
    position: fixed;
    margin-left: 32%;
    font-size: 12px;
}

.sign-in-text {
  margin: 0;
  margin-top: 10px;
	margin-bottom: 4px;
	text-align: left;
	font-size: 10px;
	color: white;
	font-family: "Courier New", "Courier", "Monaco";
}
