.authentication {
  display: none;
  margin: 25% auto;
  width: 5%;
}

.sign-in {
  display: none;
  margin: 25% auto;
width: 5%;
}

input {
  margin-top: 25%;
  padding: 4px 50px;
}

.btn-one {
  background: red;
  color: white;
  text-align: center;
  border: 1px solid red;
  padding: 1px 10px;
  font-family: "Courier New", "Courier", "Monaco";
}

.btn-two {
  background: red;
  color: white;
  text-align: center;
  border: 1px solid red;
  padding: 1px 10px;
  font-family: "Courier New", "Courier", "Monaco";
}
