/**
 *  Cart styles
 */

#content {
  height: auto;
    position: relative;
    border: 1px dotted white;
    position: relative;
    display: none;
    margin: 10% auto;
    width: 60%;
}

.alert{
  position:absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:250px;
  color:white;
  border-radius:6px;
  padding:10px;
  height:50px;
  font-size:12px;
  background-color:slategrey;
  font-family: "Courier New", "Courier", "Monaco";

}
.inline-alert{
  color:black;
  font-family: "Courier New", "Courier", "Monaco";
  font-size:12px;
margin-bottom:12px;
  width:250px;

}

#cart-body {
  overflow: scroll;
}

.selected {
  background: #636363;
  color: #fff;
  padding: 13px;
  text-align: center;
}

b {
    font-family: "Courier New", "Courier", "Monaco";
}

#cart-subtotal p {
  border-top: 1px dotted #999;
  border-left: 1px dotted #999;
  float: right;
  line-height: 2.2em;
  margin-top: 38%;
  font-size: 14px;
  font-family: "Courier New", "Courier", "Monaco";
  padding: 0 18px 0 18px
}

#cart-footer {
    margin-top: 41.5%;
    height: 42px;
    border-top: 1px dotted #999;
}

.checkout {
  margin-left: 82.1%;
  margin-top: 5px;
  position: absolute;
  cursor: pointer;
  font-size: 11px;
  background: red;
  border: 1px solid red;
  border-radius: 0;
  color: #fff;
  padding: 0px;
  text-align: center;
  width: 98px;
  font-weight: bold;
  padding: 10px 25px;
  text-decoration: none;
}

.continue {
  margin-left: 67.7%;
    margin-top: 5px;
    position: absolute;
    cursor: pointer;
    font-size: 11px;
    background: white;
    border-radius: 0;
    color: black;
    text-align: center;
    width: 98px;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
}

.delete {
  margin-left: 53.4%;
    margin-top: 5px;
    position: absolute;
    cursor: pointer;
    font-size: 11px;
    background: slategrey;
    border-radius: 0;
    color: white;
    text-align: center;
    width: 98px;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;

}

#removed {
  position: absolute;
    margin-top: -6px;
    margin-left: 76px;
    cursor: pointer;
    font-size: 11px;
    background: red;
    border: 1px solid red;
    border-radius: 0;
    color: #fff;
    display: block;
    padding: 0px;
    text-align: center;
    width: 98px;
    font-weight: bold;
}

td{
  color: white;
  padding-left: 20px;
  font-family: "Courier New", "Courier", "Monaco";
}

#logo-cart {
  margin-top: -130px;
}
