
.shop {
  display: none;
  margin-bottom: 50px;

  &-item {
    margin-top: 10%;
    float: left;
    width: 33.3%;
    display: inline-block;
    text-align: center;

    &#first {
      margin-top: 10%;
      cursor: pointer;
      display: inline-block;
    	opacity: 1;
    	-webkit-transition: .3s ease-in-out;
    	transition: .3s ease-in-out;
    }

    &-img {
      height: 20%;
      cursor: pointer;
      display: inline-block;
      width: 100%;

      &:hover {
      	opacity: 0.5;
      	-webkit-transition: .3s ease-in-out;
      	transition: .3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 500px) {

  .shop {
    &-item-img {
      margin-top: 7%;
    }

    &-item {
      width: 100%;
      &#first {
        margin-top: 45%;
      }
    }
  }
}
