$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
	margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
	/*background: url('http://payload293.cargocollective.com/1/16/517748/8168844/break-7484_1000.jpg');*/
	/*background: rgb(155, 89, 5);
	background-repeat: no-repeat;
	background-size: cover;*/
	background: black;

}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title {
	margin: 10px auto;
	border: 2px solid white;
	width: 110px;
	text-align: center;
}

h1 {
	margin-left: 1px;
    margin-top: 35px;
    font-size: 52px;
    font-weight: 200;
    color: white;
    font-family: 'Megrim', cursive;
	transform: rotate(45deg);

}

p {
  margin-top: 10px;
	margin-bottom: 4px;
	text-align: center;
	font-size: 18px;
	color: white;
	font-family: 'Megrim', cursive;
}

#time {
	font-size: 14px;
	width: 256px;
	color: white;
	font-family: 'Megrim', cursive;
	text-align: center;
}

#time-zone-name {
	color: white;
	font-family: 'Megrim', cursive;
	text-align: center;
}

.location {
	margin-top: -10px;
	font-size: 15px;
	font-family: 'Megrim', cursive;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Megrim', cursive;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: black;
	text-decoration: underline;
}

ul.topnav li a.active {
	border: 1px solid white;
	font-size: 30px;
	padding: 4px;
}

ul.topnav li.right {
	float: right;
}

ul li.left a {
  list-style-type: none;
  margin: 0;
  padding-right: 50px;
  overflow: hidden;
  font-family: 'Megrim', cursive;
  color: white;
}



#diamond {
   width: 130px;
   height: 130px;
   background: black;
   margin: 3px 0 0 123px;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin */
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
}

.shop {
  display: none;
}

.wrapper {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;
    text-align: center;
}

.top {
  cursor: pointer;
  margin-top: 15%;
  padding: 4px;
  display: inline-block;
  max-height: 100%;
  width: auto;
}

.img-responsive {
  cursor: pointer;
  margin-top: 15%;
  padding: 4px;
  display: inline-block;
  max-height: 100%;
  width: auto;
}

.img-wrapper {
  display: inline-block;
  text-align: center;
}

/* Opacity #1 */
.hover figure .top {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover figure:hover .top {
	opacity: .5;
}

.hover figure .img-responsive {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover figure:hover .img-responsive {
	opacity: .5;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
}

@media screen and (max-width: 500px) {

.img-responsive{
  margin-top: 7%;
  min-width: 300px;
  }

  .top {
    margin-top: 45%;
  }

}

@media screen and (max-width: 500px) {
    ul.topnav li.right,
    ul.topnav li {
    	float: none;
    }
}
