/**
 * Import Page Modules
 */
@import './modules/element-defaults';
@import './modules/nav';
@import './modules/auth';
@import './modules/shop';
@import './modules/cart';
@import './modules/footer';



/**
 * Variables
 */
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

.content {
  margin: 0 auto;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.diamond {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 15% auto 0;
  transform: rotate(45deg);
}

.fade-in {
  opacity: 0;
  animation: fade-in 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.diamond-footer {
  margin-top: 50px;
}

.line {
  position: absolute;
  width: 100%;
}

#top.line {
  right: 85%;
  top: -36%;
  transform: rotate(45deg);
}

#right.line {
  left: 85%;
  top: -36%;
  transform: rotate(135deg);
}

#bottom.line {
  left: 85%;
  bottom: -36%;
  transform: rotate(-135deg);
}

#left.line {
  left: -85%;
  bottom: -36%;
  transform: rotate(-45deg);
}

.rotate {
  animation: rotate 2s;
  animation-fill-mode: forwards;
}

.title-two {
	margin: 10px auto;
	border: 2px solid white;
	width: 110px;
	text-align: center;
}

.two {
  margin-left: -1px;
  margin-top: 17px;
  font-size: 25px;
  font-weight: 200;
  color: white;
  font-family: 'Megrim', cursive;
  transform: rotate(45deg);
}

.title-info {
  margin-top: -80px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 18px;
  color: white;
  font-family: 'Megrim', cursive;
}

.wcsd {
  display: inline-block;
  margin: 51px 0 0 0;
  font-family: 'Megrim', cursive;
  color: white;
  font-size: 82px;
  transform: rotate(-45deg);
}

.p-two {
  margin-top: 5px;
  font-size: 15px;
}

.time {
  margin: 0 auto;
	font-size: 14px;
	width: 256px;
	color: white;
	font-family: 'Megrim', cursive;
	text-align: center;
}

#diamond-two {
  width: 64px;
  height: 64px;
  background: black;
  margin: 37px 0 0 123px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.wrapper {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 80%;
  text-align: center;
}

.stripe {
  display: none;
}

.item-one {
  margin-top: 10%;
  display: none;
  text-align: center;
}

.item-one-description {
  font-family: "Courier New", "Courier", "Monaco";
  margin-top: 140px;
  display: inline-block;
  max-width: 300px;
  color: white;
  margin-left: 28px
}

.item-text {
  font-family: "Courier New", "Courier", "Monaco";
}

.img-one {
  display: inline-block;
  vertical-align: top;
}

.info {
  margin-bottom: 25px;
  font-size: 13.5px
}

.wcsd-two {
  font-family: 'Megrim', cursive;
}

.price {
  float: left;
  margin-left: 29px;
}

#size {
  float: left;
  margin-top: 55px;
  margin-left: -31px;
  outline: none;
  cursor: pointer;
  color: black;
  width: 7.14286em;
  border: 1px solid #999;
}

.button {
  position: absolute;
  margin-top: 88px;
  margin-left: 31px;
  cursor: pointer;
  font-size: 11px;
  background: red;
  border: 1px solid red;
  border-radius: 0;
  color: #fff;
  display: block;
  padding: 0px;
  text-align: center;
  width: 98px;
  font-weight: bold;
}

.button-continue {
  margin-bottom: -45px;
  margin-top: 87px;
  float: left;
  font-size: 11px;
  padding: 1px;
  width: 98px;
  margin-left: 30px;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  background: white;
  color: black;
  text-decoration: none;
}

.keep-shopping:hover {
  text-decoration: none;
  opacity: .5;
}

.next {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-top: 59px;
  margin-left: -6px;
}

.next:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}

.item-logo {
  margin-top: -116px;
}

.about-wcsd {
  display: none;
  width: 45%;
  text-align: left;
  margin: 12% auto;
}

#about {
  text-align: left;
  font-family: "Courier New", "Courier", "Monaco";
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 15px;
}

@media screen and (max-width: 500px) {

  .content {
    margin: 5% auto 0;
  }

  #diamond-two {
    display: none;
  }

  .p-two {
    display: none;
  }

  .logo {
    display: none;
  }

  .title-two {
    display: none;
  }
}

/**
 * Animations
 */

@keyframes rotate {
  100% {
    transform: rotate(135deg);
    opacity: 1;
  }
}

@keyframes fade-in {

  50% {
    opacity: 1;
    text-shadow: 0 0 10px #e5e4e2;
    text-outline: 10px 10px #e5e4e2;
  }

  100% {
  opacity: 1;
  }
}
